@if(isAddingTask){
    <app-new-task (AddTaskCanceled)="OnAddTaskCanceled($event)" (Tasksubmit)="onAddNewTaskSubmit($event)"></app-new-task>
}

<section id="tasks">
    <header>
        <h2>{{UsersName}}'s Tasks</h2>
        <menu>
            <button (click)="onStartAddTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @for (task of selectedUsersTask; track task.id) {
        <li>
            <app-task [userTask]="task" (complete)="onTaskComplete($event)"/>
        </li>
        }

    </ul>
</section>